.DS_Store
.editorconfig
.eslintrc.js
.scss-lint.yml
dump.rdb
webpack.config.js

/.editorconfig
/.env
/.scss-lint.yml
/npm-debug.log*

!/nodemon.json

/.haikro-cache/
/.idea/
/.node-version
/.sass-cache/
/bower_components/
/node*/
/public/
