.DS_Store
.editorconfig
.eslintrc.js
.scss-lint.yml
dump.rdb

/.editorconfig
/.env
/.scss-lint.yml
/npm-debug.log*

!/nodemon.json

/.haikro-cache/
/.idea/
/.node-version
/.sass-cache/
/bower_components/
/node*/
/node-linux-x64

/public/__about.json
/public/asset-hashes.json
/public/main.css
/public/main.css.map
/public/main.js
/public/main.js.map
